requests
minio
pandas
duckdb
dbt-duckdb
python-dotenv
fastparquet
pyarrow
pyinaturalist
pyinaturalist-convert[all]
numpy
flask-session
apache-airflow-providers-postgres
apache-airflow[celery,postgres,s3,http,ssh]==2.9.2
paramiko<3.0
notebook